:root {
        --bg: white;
}

body {
        background-color: var(--bg);
        transition: 500ms;
}

button {
        appearance: none;
        border: none;
        padding: 5px;
        box-shadow: none;
}

.gg-sun {
        cursor: pointer;
        transition: 500ms;
}

.dark-mode-button {
        background-color: black;
        color: white;
}

.light-mode-button {
        background-color: white;
        color: black;
}